@media only screen and (max-width: 768px) {
	h1 {
		font-size: 4.5em;
	}
	h3 {
		font-size: 2.2em;
	}
	h2 {
		display: block;
		text-align: center;
	}
	#info {
		display: block;
		text-align: center;
	}
	#photo {
		display: block;
		text-align: center;
		width: 100%;
	}
	#w {
		padding: 20px 15px;
	}
	p {
		padding: 0;
	}
	#info {
		display: none;
	}
	.mobile-view {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		height: 80px;
		width: 100%;
		z-index: 9999;
		background-color: white;
	}
	.mobile-view div {
		float: left;
	}
	.download-resume a div,
	.my_website a div,
	.contact_me_phone a div,
	.email_me a div,
	.my_location a div,
	.behance a div,
	.pinterest a div,
	.linkedin a div,
	.twitter a div {
		display: none;
	}
	.download-resume,
	.my_website {
		padding: 20px;
		margin: 0px;
	}
	.contact_me_phone,
	.email_me,
	.my_location,
	.behance,
	.pinterest,
	.linkedin,
	.twitter {
		padding: 20px;
		margin: 0px;
	}
	.download-resume a,
	.my_website a,
	.contact_me_phone a,
	.email_me a,
	.my_location a,
	.behance a,
	.pinterest a,
	.linkedin a,
	.twitter a >:hover.label {
		display: block;
	}
}

@media only screen and (max-width: 570px) {
	ul li {
		display: inline-block;
		padding-left: 15px;
		width: 140px;
		background-position: -5px 0px;
		margin-right: 6px;
		line-height: 1.7em;
	}
	#skills-left,
	skills-right {
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 480px) {
	ul li {
		width: 120px;
	}
	#w {
		margin: 0 20px;
	}
}

@media only screen and (max-width: 320px) {
	#w {
		margin: 0 10px;
	}
}
/** iPhone only **/

@media screen and (max-device-width: 480px) {
	ul li {
		width: 150px;
	}
}
